body{
	margin: 0;
	background: #ddd;
}

.contenedor{
	display: flex;
	justify-content: center;
}

.circulo{
     margin: 150px 15px;
     width: 150px; 
     height: 150px; 
     background: navy;
     border-radius: 50%;
     color: #fff;
	   font-siza: 40px;
	   text-align: center;
	   ine-height: 150px;
	   transition: all 3s;
}
.caja{
	margin: 150px 15px;
	width: 150px;
	height: 150px;
	background: crimson;
	color: #fff;
	font-siza: 40px;
	text-align: center;
	line-height: 150px;
	transition: all 3s;
}

.caja:nth-child(1):hover {
	transform: translate(50px,50px);
}

.circulo:nth-child(2):hover{
	transform: rotate(2.5turn);

}

.caja:nth-child(3):hover {
	transform: scaleX(2);

}

.caja:nth-child(4):hover {
	transform: skewX(20deg);

}
